* {background-color: #121213}
* {
    margin: 0; 
    padding: 0;
  }
title {
    color: #FFFFFF;
  }
  
div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #DDEEEE;
    color:hsl(0, 0%, 100%);
    border-bottom: 1px solid rgba(58,58,60,255);
    width:100%;
}
h1 {
    color: #FFFFFF;
    font-family: 'nyt-karnakcondensed';
    padding: 5px;
    /* font-weight: 1400; */
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
}
.tile {
    /* width: 100%;
    height: 100%; */
    background-color: #252527;
    border: 2px solid rgba(58,58,60,255);
}

.turtle {
  
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%; 
  background-color: rgb(23, 58, 42);
}

.turd {
  
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%; 
  background-color: rgb(58, 47, 27);
}

.row {
    display: grid;
    justify-content: space-between; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
    /* .grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
  } */

#board {
    width: 550px; 
    height: 620px; 
    /* min-width: 80 %; */
    /* max-width: 100%;
    max-height: 100%; */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    /* text-align: center; */
    /* position:absolute; 
    top: 50%;
    left: 50%; */
    overflow: hidden;

    margin: auto auto;
    margin-bottom: 3%;
    /* margin: -175px 0 0 -210px;  */
}

.button {
    border: none;
    color: rgb(230, 230, 230);
    font-family: 'nyt-karnakcondensed';
    background-color: #555557;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    margin: auto;
    margin-top: 0;
    width: 140px;
    height: 80px;
    cursor: pointer;
  }
  
#game {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    height: 100%;
    max-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

html, body {
    margin:0px;
    height:100%;
  }
#board-container {
    /* width: 350px;
    height: 350px;
    max-height: 100%;
    max-width: 100%; */


    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #FFFFFF;
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 40%; /* Could be more or less, depending on screen size */
  text-align: center;
}

#popupImg {
  max-width: 60%;
  max-height: 60%;
}

#share {
  position: relative;
  margin-top: 3%;
  bottom: 2%;
  width: 30%;
  height: 16%;
}

h2 {
  color: #FFFFFF;
  font-family: 'nyt-karnakcondensed';
  padding: 5px;
  /* font-weight: 1400; */
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  text-align: center;
  margin-top: 11%;
  background-color: #FFFFFF;
}

.fadePopUp {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 80%;
  text-align: center;
  margin: auto auto;
  width: 20%; /* Full width */
  height: 7%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  /* color: #000000; */
}

/* .visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
} */
